Create Reservation for <b><%= drummer.name %></b>

<form action="/reservation/<%= drummer.id %>" method="POST">

  <input type="date" id="date" name="date">

  <button type="submit">Submit</button>

</form>

<a href="/">Back to Home</a>